<div class="comments">
  <h2>Questions?</h2>
  <p>

  </p>
  <p>
    <a href="https://twitter.com/PeteDunc" target="_blank"><span class="fa-lg">
      <i class="fa fa-twitter"></i>
    </span>Tweet Me</a>
  </p>


  <p>
    <a href="mailto:petedunc88@gmail.com"><span class="fa-lg">
      <i class="fa fa-envelope"></i>
    </span>Send me an email</a>

  </p>

  <!-- <form action="//formspree.io/petedunc@gmail.com"
      method="POST" class="form-style">
    <label>
      <span>Message:</span>
      <input type="text" name="name">
    </label>
    <label>
      <span>Your Email:</span>
      <input type="email" name="_replyto">
    </label>
    <input type="submit" value="Send">
</form> -->


</div>
